<h2>Scroll 数据加载</h2>

<div class="table">
  <div class="clear header">
    <h4 class="win-10">属性</h4>
    <h4 class="win-70">说明</h4>
    <h4 class="win-10">类型</h4>
    <h4 class="win-10">默认值</h4>
  </div>
  <ul class="list">
    <li class="clear" *ngFor="let item of data">
      <p class="win-10">{{item.attr}}</p>
      <p class="win-70">{{item.explain}}</p>
      <p class="win-10">{{item.type}}</p>
      <p class="win-10">{{item.default}}</p>
    </li>
  </ul>
</div>

<h2>数据加载示例</h2>

<app-mobile-view>
  <div style="height: 200px">
    <nrs-scroll [maxIndex]="5" [pageIndex]="pageIndex" (resultData)="resultData($event,scroll.pageIndex)" #scroll >
      <div class="new-list clear" *ngFor="let item of newsList">
        <div class="pull-left news-img">
          <img [src]="item.newsMainPic">
        </div>
        <div class="pull-right news-info">
          <h2>{{item.webNewsTitle}}</h2>
          <p>{{item.newsBrief}}</p>
          <div class="other-info clear">
            <time class="pull-left">{{item.publishTime}}</time>
            <a class="pull-right" [routerLink]="'/newsDetails/'+item.webNewsId">详情</a>
          </div>
        </div>
      </div>
    </nrs-scroll>
  </div>
</app-mobile-view>
